/*
 * Css codes for forms to display on frontend
*/



.flr-blocks-hide{
	display: none;
}

.flr-blocks-loading, #flr-blocks-login-form-result{
	text-align: center;
}

.flr-blocks-danger{
	border: 1px solid #e08888;
	padding: 5px!important;
	background-color: ghostwhite;
}

.flr-blocks-success{
	border: 1px solid #9dcb9d;
	padding: 5px!important;
	background-color: ghostwhite;
}

.flr-blocks-input-control, .flr-blocks-textarea-control {
	width: 100%!important;
	margin-bottom: 10px!important;
	margin-top: 5px!important;
	position: relative!important;
	flex: 1 1 auto!important;
	min-width: 0!important;
	display: block!important;
	padding: 0.375rem 0.75rem!important;
	font-size: 1rem!important;
	font-weight: 400!important;
	line-height: 1.5!important;
	color: #212529!important;
	background-color: #fff!important;
	background-clip: padding-box!important;
	border: 1px solid #ced4da!important;
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	appearance: none!important;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
}

.flr-blocks-btn {
	margin-top: 10px!important;
	margin-bottom: 10px!important;
	width: 100%!important;
	cursor:pointer!important;
	display: inline-block!important;
	line-height: 1.5!important;
	text-align: center!important;
	text-decoration: none!important;
	vertical-align: middle!important;
	-webkit-user-select: none!important;
	-moz-user-select: none!important;
	user-select: none!important;
	padding: 0.375rem 0.75rem!important;
	font-size: 1rem!important;
}

.flr-blocks-form-check-input{
	border-radius: 0.25em!important;
	margin-top: 0.25em!important;
	margin-right: 0.25em!important;
	vertical-align: top!important;
	background-color: #fff!important;
	background-repeat: no-repeat!important;
	background-position: center!important;
	background-size: contain!important;
	border: 1px solid rgba(0,0,0,.25)!important;
}

.flr-blocks-form-check-group{
	display: flex!important;
	align-items: center!important;
}

.flr-blocks-input-label{

}

.flr-blocks-input-group{
	position: relative!important;
	display: flex!important;
	flex-wrap: wrap!important;
	align-items: stretch!important;
	width: 100%!important;
}



.flr-blocks-form-row{

}
