/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-frontend-login-with-gutenberg-blocks-welcome-card {

  background: #8fbdb6;
  padding: 20px;
  text-align: center;

}
