/*
 * Css codes for admin dashboard /
 * Frontend Login and Registration Blocks Settings page
*/

#flr-blocks-admin-general-settings select{
	width: 100% !important;
}

.flr-blocks-admin-settings-description{
	font-weight: normal;
	font-size: 13px;
	color: darkgrey;
}

.flr-blocks-toggle-switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
}

.flr-blocks-toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.flr-blocks-toggle-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: .4s;
	border-radius: 28px;
}

.flr-blocks-toggle-slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

input:checked + .flr-blocks-toggle-slider {
	background-color: #2196F3;
}

input:focus + .flr-blocks-toggle-slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .flr-blocks-toggle-slider:before {
	transform: translateX(22px);
}
